openapi: 3.0.3
info:
  title: Pendo Engage Account API
  description: Pendo's Engage API provides programmatic access to product analytics and in-app guide data collected by the Pendo agent. It includes resource endpoints for pages, features, track events, guides, visitors, accounts, segments, reports, and metadata, plus a powerful Aggregation API that runs MongoDB-like structured queries over collected events. Authentication uses a per-subscription integration key passed in the x-pendo-integration-key header.
  version: v1
  contact:
    name: Pendo Developers
    url: https://developers.pendo.io/
  x-source: https://engageapi.pendo.io/ (public Postman collection 16265887/Tzm6jvKG)
servers:
- url: https://app.pendo.io
  description: US (default)
- url: https://us1.app.pendo.io
  description: US1
- url: https://app.eu.pendo.io
  description: EU
- url: https://app.au.pendo.io
  description: AU/APAC
- url: https://app.jpn.pendo.io
  description: Japan
security:
- IntegrationKey: []
tags:
- name: Account
paths:
  /api/v1/account/{accountId}:
    get:
      operationId: getAccountById
      summary: Get Account by ID
      tags:
      - Account
      parameters:
      - name: accountId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
  /api/v1/account/{b64_id}:
    get:
      operationId: getAccountByBase64EncodedId
      summary: Get Account by base64 encoded ID
      tags:
      - Account
      parameters:
      - name: b64_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
components:
  securitySchemes:
    IntegrationKey:
      type: apiKey
      in: header
      name: x-pendo-integration-key
      description: Pendo integration key, created at https://app.pendo.io/admin/integrationkeys
