openapi: 3.0.3
info:
  title: Pendo Engage Account Track API
  description: Pendo's Engage API provides programmatic access to product analytics and in-app guide data collected by the Pendo agent. It includes resource endpoints for pages, features, track events, guides, visitors, accounts, segments, reports, and metadata, plus a powerful Aggregation API that runs MongoDB-like structured queries over collected events. Authentication uses a per-subscription integration key passed in the x-pendo-integration-key header.
  version: v1
  contact:
    name: Pendo Developers
    url: https://developers.pendo.io/
  x-source: https://engageapi.pendo.io/ (public Postman collection 16265887/Tzm6jvKG)
servers:
- url: https://app.pendo.io
  description: US (default)
- url: https://us1.app.pendo.io
  description: US1
- url: https://app.eu.pendo.io
  description: EU
- url: https://app.au.pendo.io
  description: AU/APAC
- url: https://app.jpn.pendo.io
  description: Japan
security:
- IntegrationKey: []
tags:
- name: Track
paths:
  /data/track:
    post:
      operationId: sendATrackEvent
      summary: Send a Track Event
      tags:
      - Track
      requestBody:
        content:
          application/json:
            example:
              type: track
              event: Registered
              visitorId: unique-string-id
              accountId: account-id-of-visitor
              timestamp: 1680373680000
              properties: {}
              context:
                ip: 76.253.187.23
                userAgent: Mozilla/5.0
                url: http://MuqrevujORTeLIzvMFcBSW.vitaO
                title: My Page - Admin
      responses:
        '200':
          description: Successful response
  /api/v1/tracktype:
    get:
      operationId: returnAListOfAllTrackTypes
      summary: Return a List of All Track Types
      tags:
      - Track
      responses:
        '200':
          description: Successful response
components:
  securitySchemes:
    IntegrationKey:
      type: apiKey
      in: header
      name: x-pendo-integration-key
      description: Pendo integration key, created at https://app.pendo.io/admin/integrationkeys
